[submodule "adobe-digital-editions"]
	path = adobe-digital-editions
	url = ssh+git://aur@aur4.archlinux.org/adobe-digital-editions.git
[submodule "dangerous-jack-connector"]
	path = dangerous-jack-connector
	url = ssh+git://aur@aur4.archlinux.org/dangerous-jack-connector.git
[submodule "tfe"]
	path = tfe
	url = ssh+git://aur@aur4.archlinux.org/tfe.git
[submodule "inkblot"]
	path = inkblot
	url = ssh+git://aur@aur4.archlinux.org/inkblot.git
[submodule "toggl-cli"]
	path = toggl-cli
	url = ssh+git://aur@aur4.archlinux.org/toggl-cli.git
[submodule "comporg"]
	path = comporg
	url = ssh+git://aur@aur4.archlinux.org/comporg.git
